html {
  font-family: Helvetica;
  text-align: center
}

.main-banner, .subbanner {
  background-image: url("../img/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

a:link {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.nav-footer {
  text-align: left;
  background-color: dimgray;
  font-size: 18px;
}

#copyright {
  font-size: 11px;
  color: white;
}
